/* Global */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  font-family: Arial, Helvetica, sans-serif;
}

input {
  padding: 0.25rem;
}

hr {
  margin: 1rem 0;
}

/* Components */
.container {
  width: 98%;
  margin: 0 auto;
}

.col {
  display: flex;
  flex-wrap: wrap;
}

.row {
  width: 100%;
}

.main {
  display: flex;
  height: calc(100vh - 72px);
}

/* Navbar */
.navbar {
  background-color: black;
  padding: 1rem 0;
  height: 72px;
}

.navbar--logo {
  color: white;
  font-size: 32px;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

/* Store Head */
.store-head {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 2rem;
}

.store-head--tab-btn {
  border: none;
  padding: 0.5rem 2rem;
  background-color: grey;
  color: white;
  cursor: pointer;
}

.store-head--tab-btn:hover,
.store-head--tab-btn.active {
  background-color: black;
}

.store-head--info {
  text-align: right;
}

/* Product List */
.content {
  flex-grow: 1;
  padding: 1rem;
  border-right: 1px solid black;
  position: relative;
  display: flex;
  flex-direction: column;
}

.products {
  flex-grow: 1;
  overflow-y: auto;
}

.products-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.products-categories {
  display: flex;
  list-style: none;
}

.product-category {
  padding: 0.25rem 0.5rem;
  border: 1px solid black;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.product-category:hover,
.product-category.active {
  background-color: black;
  color: #fff;
}

.product-category-item:not(:last-child) {
  margin-right: 0.25rem;
}

.product-list {
  margin-bottom: 1rem;
}

/* Product Card */
.product {
  margin: 5px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid ccc;
  padding: 1rem;
  display: flex;
  transition: all 0.2s ease-out;
}

.product:hover {
  transform: scale(1.02);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.product--img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-right: 1rem;
  flex-shrink: 0;
  object-fit: contain;
}

.product--details {
  flex-grow: 1;
  margin-right: 0.5rem;
  overflow: hidden;
}

.product--name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 1rem;
}

.product--detail {
  font-size: 14px;
}

.product--detail:not(:last-child) {
  margin-bottom: 0.25rem;
}

.product--detail-label {
  font-weight: bold;
  text-transform: uppercase;
}

.product-actions {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
  max-width: 125px;
}

.button {
  display: block;
  width: 100%;
  background-color: transparent;
  color: black;
  cursor: pointer;
  border: 1px solid black;
  padding: 0.25rem;
  transition: 0.2s ease-out;
  border-radius: 2px;
}

.button:hover {
  background-color: black;
  color: white;
}

.button:not(:last-child) {
  margin-bottom: 0.25rem;
}

.qty-input {
  margin-bottom: 0.25rem;
  display: block;
  width: 100%;
}

.cart {
  flex-shrink: 0;
  width: 10%;
  min-width: 300px;
  border-radius: 5px;
}

.sidebar {
  min-width: 300px;
  padding: 1rem;
  flex-shrink: 0;
}

.sidebar--section {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* CART */
.cart--title {
  margin-bottom: 1rem;
}

#cart--list {
  flex-grow: 1;
  position: relative;
}

.cart-no-items {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.cart--item {
  background-color: white;
  padding: 0.5rem;
  border-radius: 2px;
}

.cart--item:not(:last-child) {
  margin-bottom: 0.5rem;
}

.cart--item .product-details {
  font-size: 14px;
}

.product--detail.quantity {
  display: flex;
  align-items: center;
}

.cart-product--qty {
  width: 50px;
  display: flex;
  margin: 0 0.5rem;
}

.input-group {
  display: flex;
  margin-bottom: 0.5rem;
}

/* CART CONTROLS */
.cart-controls {
  background-color: black;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.cart-controls--input {
  width: 100%;
  display: block;
  flex-shrink: 1;
  border-radius: 2px;
  border: none;
}

.cart-controls--input:not(:last-child) {
  margin-right: 0.25rem;
}

.cart-controls--btn {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  display: block;
  width: 100%;
  padding: 0.25rem;
  cursor: pointer;
  border-radius: 2px;
  transition: all 0.2s ease-out;
}

.cart-controls--btn:hover {
  background-color: white;
  color: black;
}

.cart-controls--btn:not(:last-child) {
  margin-bottom: 0.25rem;
}

#mask {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

#mask.show {
  display: block;
}

.product-popup {
  position: absolute;
  left: -400px;
  top: 72px;
  bottom: 0;
  max-width: 0;
  max-width: 400px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  transition: left 0.2s ease-out;
  overflow: hidden;
  z-index: 2;
}

.product-popup.show {
  left: 0;
}

.product-popup--body {
  padding: 1rem;
  flex-grow: 1;
  overflow-y: auto;
}

.popup--details {
  margin-bottom: 2rem;
}

.product-popup--close {
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
}

.product-popup--close:hover {
  background-color: black;
}

.product-popup--close span {
  display: block;
  transform: rotate(-90deg);
}

.reviews-head {
  margin-bottom: 1rem;
}

.reviews-average {
  font-weight: 400;
  font-size: 1rem;
}

.reviews-item {
  margin-bottom: 1rem;
}

.new-review h3 {
  margin-bottom: 1rem;
}

.rating-container {
  margin-bottom: 1rem;
}

#rating-input {
  width: 100px;
  padding: 0.25rem;
}

.submit-review-btn {
  display: block;
  padding: 0.5rem;
  color: #fff;
  background-color: black;
  border: none;
  width: 100%;
  cursor: pointer;
}

#review-input {
  padding: 1rem;
  width: 100%;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 1200px) {
  .row {
    width: 50%;
  }
}
